:root {
    --color-nm: #a4a4a4;
    --color-hd: #ffb735;
    --color-hr: #ff7575;
    --color-dt: #75acff;
    --color-fm: #ff75cd;
    --color-rx: #75fff7;
}

/* Background Video / Logo (Stream idle will be deleted later) */
.background-video, .main {
    position: absolute;
    top: 0;
    left: 0;   
}

/* Main */
.main {
    width: 2560px;
    height: 1440px;
}

/* Top Section */
.top-section {
    position: absolute;
    width: 100%;
    height: 210px;
}

/* Team Icon */
.team-icon {
    position: absolute;
    top: 64px;
    --dimension: 90px;
    width: var(--dimension);
    height: var(--dimension);
    border-radius: 15px;
    background-color: #000000;
    background-size: cover;
    background-position: center;
}
.red-team-icon { 
    border: 2px solid #FF5757;
    left: var(--team-icon-horizontal-dimension);
    box-shadow: 0 0 10px white;
}
.blue-team-icon { 
    border: 2px solid #57A2FF;
    right: var(--team-icon-horizontal-dimension);
    box-shadow: 0 0 10px white;
}

/* Team Name */
.team-name {
    position: absolute;
    top: 60px;
    font-size: 36px;
    font-weight: 700;
    font-family: "Zain";
}
.red-team-name {
    left: var(--team-name-star-horizontal-dimension);
    color: #ffbfbf;
    text-shadow: 0 0 10px #ffbfbf;
}
.blue-team-name {
    right: var(--team-name-star-horizontal-dimension);
    color: #bfddff;
    text-shadow: 0 0 10px #bfddff;
}

/* Team Star Container */
.team-star-container {
    position: absolute;
    top: 118px;
    display: flex;
    gap: 6px;
}
.red-team-star-container {
    left: var(--team-name-star-horizontal-dimension);
}
.blue-team-star-container {
    right: var(--team-name-star-horizontal-dimension);
    flex-direction: row-reverse;
}
.team-star {
    --dimension: 36px;
    width: var(--dimension);
    height: var(--dimension);
    border-radius: 5px;
}
.team-star-fill { background-color: white; }
.team-star-empty { background-color: rgba(255,255,255,0.3686274509803922); }

/* Logo */
.logo {
    position: absolute;
    top: 34px;
    left: 50%;
    transform: translateX(-50%);
}
/* Showcase Text */
.logo-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Zain";
    font-size: 29px;
    color: white;
}
.showcase-text {
    top: 120px;
    font-weight: 800;
}
.round-text { top: 145px; }

/* Chat Section */
.chat-display {
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
    width: 874px;
    padding: 10px 25px;
    overflow-y: scroll;
}
.chat-display::-webkit-scrollbar { display: none; }
.chat-display-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.231;
}
.chat-display-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
    overflow-y: scroll;
}
.chat-display-wrapper::-webkit-scrollbar { display: none; }
.chat-message-container {
    width: 100%;
    font-weight: 700;
    font-family: "Inter Tight";
    color: white;
    font-size: 19px;
    letter-spacing: 0.25px;
}
.unknown { color: yellow; }
.bot { color: greenyellow; }
.left { color: lightsalmon; }
.right { color: lightblue; }