:root {
    --team-icon-horizontal-dimension: 174px;
    --team-name-star-horizontal-dimension: 279px;
    --dark-purple: #3F1161
}

:root {
    /* RO32 */
    /* Background */
    --background-tcom: #8d2d2da0;
    --background-rps: #8d4a2da0;
    --background-abc: #8d872da0;
    --background-vvd: #1b5f33a0;
    --background-bang: #2d418da0;
    --background-tb: #4c2d8da0;
    /* QF / SF */
    /* Background */
    --background-rgb: #8d2d2da0;
    --background-wum: #8d4a2da0;
    --background-plyr: #8d872da0;
    --background-esc: #1b5f33a0;
    --background-elvn: #2d7e8da0;
    --background-rev: #2d418da0;
    --background-tb: #4c2d8da0;
}

/* Mappool Section */
.mappool-section {
    position: absolute;
    top: 210px;
    width: inherit;
    height: 900px;
    display: flex;
    flex-direction: column;
}
/* Category Section */
.category-section {
    position: relative;
    width: inherit;
    height: 150px;
    display: flex;
    align-items: center;
}
/* Category Icon */
.category-icon {
    position: absolute;
    top: 50%;
    left: 160px;
    transform: translateY(-50%);
    height: 100px;
}
/* Category Maps Container */
.category-map-container {
    position: absolute;
    right: 283px;
    display: flex;
    gap: 149px;
}
/* Category Map */
.category-map {
    position: relative;
    width: 567px;
    height: 104px;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.3686274509803922);
}
/* Category Map Detail Container */
.category-map-detail-container { filter: brightness(100%); }
.category-map-detail-container-actioned { filter: brightness(33.3%) }
/* Category Map Background Image */
.category-map-background-image {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 136px;
    height: 102px;
    background-image: url("https://assets.ppy.sh/beatmaps/1317690/covers/cover.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 3px black;
}
/* Category Map Metadata */
.category-map-metadata {
    position: absolute;
    left: 151px;
    font-family: "Inter Tight";
    font-size: 22px;
    color: white;
    letter-spacing: -0.25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 410px;
}
/* Category Map Artist */
.category-map-artist {
    top: 2px;
    font-weight: 500;
}
/* Category Map Artist */
.category-map-title {
    top: 40px;
    font-weight: 700;
}
/* Category Map Mod */
.category-map-mod {
    top: 77px;
    font-weight: 500;
}
.category-map-mod-nm { color: var(--color-nm); }
.category-map-mod-hd { color: var(--color-hd); }
.category-map-mod-hr { color: var(--color-hr); }
.category-map-mod-dt { color: var(--color-dt); }
.category-map-mod-fm { color: var(--color-fm); }
.category-map-mod-rx { color: var(--color-rx); }
/* Category Map Picked By */
.category-map-picked-by {
    position: absolute;
    bottom: 1px;
    right: 8px;
    font-size: 22px;
    color: #7f7f7f;
    font-weight: 700;
    font-family: "Inter Tight";
    display: none;
}
.category-map-pick-ban-team { color: #DDD; }
/* Category Map Winner */
.category-map-winner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 38px;
    height: 70px;
}

/* Chat Display */
.chat-display { height: 293px; }

/* Animation Card Wrapper */
.animation-card-wrapper {
    display: none;
    opacity: 0;
    transition: 200ms ease-in-out;
}
/* Animation Card Wrapper Background */
.animation-card-wrapper-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.588;
}
/* Animation Card */
.animation-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 840px;
    height: 866px;
    border: 2px solid #ffffff;
    box-shadow: 0 0 35px rgba(255, 255, 255, 1);
    background-image: linear-gradient(155deg, #181755 0%, #390847 100%);
}
/* Animation Card Background */
.animation-card-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3844;
}
/* Animation Card Map Background */
.animation-card-map-background {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 50%;
    background-image: url("https://assets.ppy.sh/beatmaps/820229/covers/cover.jpg");
    background-position: center;
    background-size: cover;
}
/* Animation Card Category Id */
.animation-card-category-id {
    position: absolute;
    top: 20px;
    left: 20px;
}
/* Animation Card Left Details */
.animation-card-left-details {
    position: absolute;
    top: calc(50% + 15px);
    left: 20px;
    width: 60%;
    height: calc(50% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Animation Card Left Metadata */
.animation-card-left-metadata {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.animation-card-left-metadata-text {
    font-size: 26px;
    color: white;
    font-weight: 900;
    font-family: "Inter Tight";
}
/* Difficulty and Mapper */
.color-gray { color: rgba(255,255,255,0.3686274509803922); }
.color-white { color: white; }
.color-gold { color: gold; }
/* Animation Left Stat Container */
.animation-card-left-stats-container {
    display: flex;
    justify-content: space-between;
}
.animation-card-left-stat-header { padding-right: 10px; }
/* Animation Right */
.animation-card-right-details {
    position: absolute;
    top: calc(50% + 15px);
    right: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 5px;
}
.animation-card-right-details > div:nth-child(odd) {
    color: rgba(255,255,255,0.3686274509803922);
}
.animation-card-right-details > div:nth-child(even) {
    text-align: right;
}

/* Sidebar */
.sidebar {
    position: absolute;
    top: 0;
    left: 2560px;
    width: 975px;
    height: 1440px;
    background-color: var(--dark-purple);
    font-family: "Inter Tight";
    display: flex;
}
/* Sidebar Column */
.column {
    width: 325px;
    height: 1440px;
}
/* Sidebar Divider */
.divider {
    position: absolute;
    top: 0;
    width: 2px;
    height: inherit;
    background-color: white;
}
.divider-1 { left: 324px; }
.divider-2 { left: 649px; }
/* Sidebar Section */
.sidebar-section {
    padding: 20px 0;
    border-bottom: 2px solid white;
}
/* Sidebar Text */
.sidebar-header {
    font-size: 2.5em;
    font-weight: 800;
    color: white;
    width: inherit;
    text-align: center;
}
.sidebar-text {
    margin-top: 20px;
    font-weight: 800;
    color: white;
    width: inherit;
    text-align: center;
}
#next-auto-picker-team { font-size: 2em; }
.pick-ban-related-text { 
    width: 94%;
    margin: auto;
    margin-top: 20px;
    font-size: 1.5em;
}
/* Sidebar buttons */
.sidebar-button-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: inherit;
    gap: 15px;
}
.sidebar-button-container * {
    width: 125px;
    height: 50px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 1.5em;
    border-radius: 15px;
    font-family: "Inter Tight";
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar-button-container *:active {
    color: var(--dark-purple);
    background-color: white;
}
.sidebar-button-container .full-length-button { width: 265px; }
.sidebar-button-container .extra-height-button { height: 75px; }
/* Pick Management Selects */
select {
    margin-top: 20px;
    width: 325px;
    background-color: transparent;
}
select::-webkit-scrollbar { display: none; }
option[selected] { color: var(--dark-purple); }
select option {
    font-family: "Inter Tight";
    text-align: center;
    font-size: 1.75em;
    font-weight: 700;
    color: white;
}
/* Pick Management Title */
.pick-ban-management-title {
    margin-top: 30px;
    font-family: "Inter Tight";
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: white;
}
/* Pick Ban Management Button Container */
.pick-ban-management-button-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    color: white;
    font-family: "Inter Tight";
    font-weight: 500;
    text-align: center;
    font-size: 1.5em;
}
.pick-ban-management-map-button {
    font-family: "Inter Tight";
    font-weight: 500;
    width: 90px;
    height: 40px;
    line-height: 40px;
}